<h4>Find a pairing partner</h4>
<p>Choose a language</p>
<ul class="list-unstyled">
  <% Language.all.each do |language| %>
    <li><%= link_to language.name, language_path(language) %></li>
  <% end %>
</ul>
