<%= link_to 'Beginners', skill_level: 'beginner' %>
<%= link_to 'Intermediates', skill_level: 'intermediate' %>
<%= link_to 'Experts', skill_level: 'expert' %>
<ul>
  <% @language_users.each do |user| %>
    <li class="list-unstyled"><%= link_to user.username, user_path(user) %></li>
  <% end %>
</ul>
