<%= @profile_user.username %>
<% if current_user == @profile_user %>
  <%= link_to 'Add Language', new_user_language_path %>
<% end %>
<ul>
<% @profile_user.languages.each do |language| %>
  <li>
    <%= language.name %>
  </li>
<% end %>
</ul>

<% if current_user %>
  contact: <%= @profile_user.email %>
<% end %>
